@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,600,700|Noto+Serif:400,700);/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 20px;
  height: 14px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #220B09;
  border-radius: 2px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

/*
   * Slider
   */

.hamburger--slider .hamburger-inner {
  top: 1px;
}

.hamburger--slider .hamburger-inner::before {
  top: 6px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 12px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
          transform: translate3d(0, 6px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-2.85714286px, -4px, 0);
          transform: rotate(-45deg) translate3d(-2.85714286px, -4px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -12px, 0) rotate(-90deg);
          transform: translate3d(0, -12px, 0) rotate(-90deg);
}

/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */

/*
 * Normalization
 */

audio:not([controls]) {
  display: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
}

details {
  display: block;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
}

input {
  -webkit-border-radius: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */

*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: default;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

.container {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 78.75rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 90rem;
  }
}

.-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.625rem;
  margin-left: -0.625rem;
  margin-left: 0;
  margin-right: 0;
}

body,
:root {
  background-color: #EFEBE3;
  margin: 0;
}

body {
  overflow-x: hidden;
  height: 100vh;
}

@media (min-width: 768px) {
  body {
    height: auto;
  }
}

body.nav-open {
  overflow-x: hidden;
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Noto Serif', serif;
  font-weight: regular;
  font-size: 1rem;
}

.nav {
  padding-bottom: 0.9375rem;
  padding-top: 0.9375rem;
  position: relative;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #A73624;
}

@media (min-width: 992px) {
  .nav {
    padding-top: 5rem;
    padding-bottom: 1.875rem;
    border-bottom: 0;
  }
}

.nav .-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .nav .-row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav .-logo {
  display: none;
}

@media (min-width: 992px) {
  .nav .-logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 5.9375rem;
    height: auto;
    position: absolute;
    top: -52px;
    left: 10px;
    z-index: 1;
  }
}

.nav .-wordmark {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (min-width: 992px) {
  .nav .-wordmark {
    display: none;
  }
}

.nav .-links {
  position: absolute;
  top: -20px;
  left: 100%;
  height: 101vh;
  width: 100vw;
  z-index: -1;
  -webkit-transition: left 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: left 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  background-color: #EFEBE3;
  padding-top: 4.375rem;
}

@media (min-width: 992px) {
  .nav .-links {
    opacity: 1;
    width: 94%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
    height: auto;
    background-color: transparent;
    top: 0;
    left: 0;
    padding-top: 0;
    z-index: 0;
  }
}

.nav ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  border-top: 2px solid #A73624;
}

@media (min-width: 992px) {
  .nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 2px solid #716F6F;
    border-bottom: 2px solid #716F6F;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 98%;
  }
}

.nav li {
  display: block;
  margin: 0.625rem 0;
  padding: 0 1.25rem;
}

@media (min-width: 992px) {
  .nav li {
    padding: 1.5625rem 1.25rem 0.9375rem 1.25rem;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .nav li {
    padding: 1.5625rem 2.5rem 0.9375rem 2.5rem;
  }
}

.nav li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #A73624;
  opacity: 0;
  -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.nav li:hover:after,
.nav li.current:after {
  opacity: 1;
}

.nav li a {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #220B09;
  text-decoration: none;
  position: relative;
  padding: 0.3125rem 0;
}

@media (min-width: 1440px) {
  .nav li a {
    font-size: 16px;
  }
}

.footer {
  margin-top: 2.5rem;
  padding-bottom: 1.875rem;
}

.footer .container {
  padding-top: 1.875rem;
  border-top: 2px solid #716F6F;
}

.footer .hours {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer .hours {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
}

.footer .hours .-item {
  margin-bottom: 1.25rem;
}

.footer .hours .-item .-title {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  margin-bottom: 0.3125rem;
}

@media (min-width: 768px) {
  .footer .hours .-item .-title {
    font-size: 0.875rem;
  }
}

.footer .hours .-item .-time {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 1rem;
  color: #220B09;
}

@media (min-width: 768px) {
  .footer .hours .-item .-time {
    font-size: 1.125rem;
  }
}

.footer .links {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 0.875rem;
  color: #220B09;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #220B09;
  margin-bottom: 1.875rem;
  display: block;
}

@media (min-width: 768px) {
  .footer .links {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
    margin-left: 8.33333333%;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer .links ul:first-of-type {
    margin: 0 2.5rem 0 0;
  }
}

.footer .links ul {
  margin-bottom: 0.625rem;
}

.footer .links li {
  display: block;
  padding: 0.3125rem 0;
}

.footer .links li a {
  color: #220B09;
  cursor: pointer;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.footer .links li:hover a,
.footer .links li.current a {
  color: #A73624;
}

.footer .contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .footer .contact {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    margin-left: 8.33333333%;
  }
}

.footer .contact .-address {
  margin-bottom: 0.625rem;
}

.footer .contact .-address span {
  display: block;
  margin: 0.25rem 0;
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 0.875rem;
  color: #220B09;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer .-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125rem;
}

.footer .-social a {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #220B09;
}

.footer .-social a:hover .fa {
  color: #A73624;
}

.footer .-social .fa {
  color: #220B09;
  font-size: 1.5rem;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.footer .bottom {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 0.75rem;
  color: #220B09;
}

.home {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4.6875rem 0 4.375rem 0;
  text-align: center;
}

.home h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 0.9375rem;
}

@media (min-width: 768px) {
  .home h1 {
    font-size: 3.75rem;
  }
}

.home .-sub {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 1.125rem;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .home .-sub {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .home .-sub {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    margin-left: 33.33333333%;
  }
}

.home .-sub div:first-of-type {
  margin-bottom: 0.3125rem;
}

.home .-awards {
  margin: 2.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .-awards .-award {
  text-align: center;
  display: inline-block;
  width: 45%;
  margin: 0 0 1.875rem 0;
}

@media (max-width: 767px) {
  .home .-awards .-award {
    width: 100%;
  }
}

.home .-awards .-award .-title,
.home .-awards .-award .-year {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.6875rem;
}

@media (min-width: 768px) {
  .home .-awards .-award .-title,
  .home .-awards .-award .-year {
    font-size: 1.875rem;
    line-height: 2.0625rem;
  }
}

.home .-awards .-award .-name {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: regular;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0.3125rem 0;
}

@media (min-width: 768px) {
  .home .-awards .-award .-name {
    font-size: 1.5rem;
  }
}

.home .-awards .content {
  width: 90%;
}

.home .-awards p {
  color: #ffffff;
  margin-bottom: 1.0625rem;
  font-size: 18px;
  font-weight: 600;
}

.home .button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .home .button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    margin-left: 33.33333333%;
  }
}

.button.-hollow-home {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 1.375rem 0 1.125rem 0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .button.-hollow-home {
    width: auto;
    display: inline-block;
    padding: 1.375rem 2.1875rem 1.125rem 2.1875rem;
  }
}

.button.-hollow-home:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.content-page {
  padding-top: 3.125rem;
}

.content-page.-pattern {
  background-color: #efebe3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23d8cfbe' fill-opacity='0.31'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: repeat;
}

.content-page .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .content-page .content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    margin-left: 8.33333333%;
  }
}

.content-page .content.-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .content-page .content.-flex {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.0625rem;
    padding-left: 0.0625rem;
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    margin-left: 8.33333333%;
  }
}

.content-page .content-musician {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .content-page .content-musician {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    margin-left: 8.33333333%;
  }
}

.content-page .content-musician-left-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-bottom: 1.875rem;
}

@media (min-width: 600px) {
  .content-page .content-musician-left-col {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    margin-left: 16.66666667%;
  }
}

.content-page .content-musician-left-col img {
  width: 100%;
  height: auto;
}

.content-page .content-musician-right-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-left: 0;
}

@media (min-width: 600px) {
  .content-page .content-musician-right-col {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    margin-left: 8.33333333%;
  }
}

.content-page .content-musician-right-col p {
  margin-bottom: 0.9375rem;
}

.content-page .content-musician a {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

@media (min-width: 768px) {
  .content-page .content-musician a {
    font-size: 0.875rem;
  }
}

.content-page .content-musician a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #A73624;
  -webkit-transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.content-page .content-musician a:hover {
  color: #872c24;
}

.content-page .content-musician a:hover:after {
  background-color: #df7b6b;
}

.content-page h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  letter-spacing: .5px;
  color: #220B09;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0 0 0.3125rem 0;
  text-align: center;
  border-bottom: 2px solid #220B09;
  margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
  .content-page h1 {
    font-size: 1.625rem;
  }
}

.content-page .-two-columns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  font-family: 'Noto Serif', serif;
  font-weight: regular;
  font-size: 1rem;
  margin-bottom: 3.125rem;
}

.content-page .-two-columns p {
  margin-bottom: 0.9375rem;
}

.content-page .-two-columns a {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

@media (min-width: 768px) {
  .content-page .-two-columns a {
    font-size: 0.875rem;
  }
}

.content-page .-two-columns a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #A73624;
  -webkit-transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.content-page .-two-columns a:hover {
  color: #872c24;
}

.content-page .-two-columns a:hover:after {
  background-color: #df7b6b;
}

@media (min-width: 768px) {
  .content-page .-two-columns {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
    margin-left: 8.33333333%;
  }

  .content-page .-two-columns p {
    margin-bottom: 0.9375rem;
  }
}

.content-page .-full-width-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 4.375rem;
}

.content-page .-full-width-image img {
  width: 100%;
  height: auto;
}

.content-page .-full {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-page .image-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 500px) {
  .content-page .image-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .content-page .image-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}

.content-page .image-item .-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(100vw - 30px);
  margin-bottom: 1.875rem;
}

@media (min-width: 500px) {
  .content-page .image-item .-image {
    padding-top: calc(50vw - 90px);
  }
}

@media (min-width: 992px) {
  .content-page .image-item .-image {
    padding-top: calc(33vw - 70px);
  }
}

.content-page .rm-calendar-list li a {
  white-space: normal;
}

.-map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.contact .-center-align {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
  .contact .-center-align {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
    margin-left: 16.66666667%;
    margin-bottom: 3.125rem;
  }
}

.contact .-contact-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.contact .-contact-columns .-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .contact .-contact-columns .-col {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .contact .-contact-columns .-col {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .contact .-contact-columns .-col:last-of-type {
    margin-left: 8.33333333%;
  }
}

.contact .-contact-columns .-title {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #220B09;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.9375rem;
}

@media (min-width: 768px) {
  .contact .-contact-columns .-title {
    font-size: 1.375rem;
  }
}

.contact .-address {
  margin-bottom: 1.875rem;
}

.contact .-address span {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  display: block;
}

@media (min-width: 768px) {
  .contact .-address span {
    font-size: 0.875rem;
  }
}

.contact .-email {
  margin-bottom: 1.875rem;
}

.contact .-email a {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

@media (min-width: 768px) {
  .contact .-email a {
    font-size: 0.875rem;
  }
}

.contact .-email a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #A73624;
  -webkit-transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.contact .-email a:hover {
  color: #872c24;
}

.contact .-email a:hover:after {
  background-color: #df7b6b;
}

.contact .-hours-title {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .contact .-hours-title {
    font-size: 0.875rem;
  }
}

.contact .-hours-item {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #220B09;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-transform: none;
}

@media (min-width: 768px) {
  .contact .-hours-item {
    font-size: 1.375rem;
  }
}

@media (min-width: 768px) {
  .contact .-hours-item {
    margin-bottom: 1.875rem;
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 15px;
  outline: none;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.-wordmark {
  max-width: 12.5rem;
  height: auto;
  width: 100%;
}

.-links.-open {
  left: 0;
  -webkit-transition: left 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: left 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.mgc-event {
  margin-bottom: 1.875rem;
}

.mgc-summary {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 1rem;
  color: #220B09;
}

@media (min-width: 768px) {
  .mgc-summary {
    font-size: 1.125rem;
  }
}

.tabbed-tabs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  list-style: none;
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .tabbed-tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.25rem 0 0.625rem 0;
  }
}

.tabbed-tabs li {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
  font-size: 1rem;
  position: relative;
  color: #220B09;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  padding: 0.625rem;
  display: block;
}

@media (min-width: 768px) {
  .tabbed-tabs li {
    font-size: 0.875rem;
  }
}

.tabbed-tabs li:after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 16px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 0;
  background-color: #A73624;
  -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.tabbed-tabs li:hover,
.tabbed-tabs li.active {
  color: #A73624;
}

.tabbed-tabs li:hover:after,
.tabbed-tabs li.active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .tabbed-tabs li {
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .tabbed-tabs li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background-color: #A73624;
    -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  }

  .tabbed-tabs li:first-of-type {
    padding-left: 0;
  }

  .tabbed-tabs li:hover,
  .tabbed-tabs li.active {
    color: #4a1814;
  }

  .tabbed-tabs li:hover:after,
  .tabbed-tabs li.active:after {
    opacity: 1;
  }
}

.tabbed-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 0.9375rem;
}

.tabbed-content-view {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.tabbed-content-view.show {
  display: block;
  opacity: 1;
}

.tabbed-content h2 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #A73624;
  font-size: 1.25rem;
  font-size: 1rem;
  margin-bottom: 0.9375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.tabbed-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menus .menu-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 3.125rem;
}

@media (min-width: 500px) {
  .menus .menu-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .menus .menu-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}

.menus .menu-item-image {
  background-repeat: no-repeat;
  background-position: center center;
  width: 15.625rem;
  height: 15.625rem;
  background-size: cover;
  margin-bottom: 1.25rem;
}

.menus .menu-item-image img {
  width: 100%;
  height: auto;
}

.menus .menu-item-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: regular;
  font-size: 1.25rem;
  color: #220B09;
  height: 3.125rem;
}

.menus .menu-item-price {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 1rem;
  color: #220B09;
  margin-bottom: 0.625rem;
}

.menus .menu-item-rich-text h1,
.menus .menu-item-rich-text h2,
.menus .menu-item-rich-text h3,
.menus .menu-item-rich-text h4,
.menus .menu-item-rich-text h5,
.menus .menu-item-rich-text h6,
.menus .menu-item-rich-text p {
  margin-bottom: 12px;
  margin-top: 0;
}

.menus .menu-item-rich-text h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  letter-spacing: .5px;
  color: #220B09;
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .menus .menu-item-rich-text h1 {
    font-size: 1.625rem;
  }
}

.menus .menu-item-rich-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #220B09;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .menus .menu-item-rich-text h2 {
    font-size: 1.375rem;
  }
}

.menus .menu-item-rich-text h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-style: regular;
  font-size: 1.25rem;
  color: #ffffff;
}

@media (min-width: 768px) {
  .menus .menu-item-rich-text h3 {
    font-size: 1.5rem;
  }
}

.menus .menu-item-rich-text h4,
.menus .menu-item-rich-text h5,
.menus .menu-item-rich-text h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: regular;
  color: #220B09;
}

@media (min-width: 768px) {
  .menus .menu-item-rich-text h4,
  .menus .menu-item-rich-text h5,
  .menus .menu-item-rich-text h6 {
    font-size: 0.875rem;
  }
}

.menus .menu-item-rich-text p,
.menus .menu-item-rich-text span {
  font-family: 'Noto Serif', serif;
  font-weight: regular;
  font-size: 1rem;
}

.menus .menu-item-rich-text p a,
.menus .menu-item-rich-text span a {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 0.875rem;
  color: #220B09;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menus .menu-item-rich-text a {
  font-family: 'Josefin Sans', sans-serif;
  font-style: regular;
  font-weight: 700;
  font-size: 0.875rem;
  color: #220B09;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menus .menu-item-rich-text strong {
  font-weight: 700;
  font-style: normal;
}

.menus .menu-item-rich-text em {
  font-style: italic;
}

.menus .menu-item-rich-text ul,
.menus .menu-item-rich-text ol {
  margin: 0;
  padding: 0;
}

.menus .menu-item-rich-text ul li,
.menus .menu-item-rich-text ol li {
  font-family: 'Noto Serif', serif;
  font-weight: regular;
  font-size: 1rem;
}

