.hamburger {
  position: absolute;
  top: 0;
  right: 15px;
  outline: none;

  @include mq($from: $breakpoint-small) {
    display: none;
  }
}

.-wordmark {
  max-width: pxem(200);
  height: auto;
  width: 100%;
}

.-links.-open {
  left: 0;
  transition: left 240ms $t-1;
}
