.nav {
  margin-bottom: pxem(35);
  position: relative;

  @include mq($from: $breakpoint-small) {
    margin-top: pxem(60);
    margin-bottom: pxem(30);
  }

  .-row {
    justify-content: flex-end;
  }

  img {
    width: pxem(95);
    height: auto;
    position: absolute;
    top: -52px;
    left: 0px;
  }

  ul {
    @include col(12);
    display: flex;
    justify-content: space-around;
    border-top: 2px solid $color-border;
    border-bottom: 2px solid $color-border;
    flex-basis: auto;
    width: 92%;
  }

  li {
    padding: pxem(30) pxem(5) pxem(15) pxem(5);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $text-red;
      opacity: 0;
      transition: opacity 240ms $t-1;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    a {
     @include nav-link;
     padding: pxem(5) 0;
    }
  }
}
